:root {
  --red: #ad422c;
  --errorred: #d93d1a;
  --blue: #0a3641;
  --orange: #cb9a21;
  --lightorange: #ebe1c2;
  --white: #ffff;
  --offwhite: #fefefe;
  --darkgrey: #707070;
  --darkred: #741009;
  --ligthgrey: #dddddd;
}
.error {
  display: none;
  color: var(--errorred);
  text-decoration: underline;
  font-size: 0.8em;
}

.continue {
  font-family: Tahoma, verdana, sans-serif;
  color: var(--blue);
}

form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--darkred);
  font-family: Tahoma, verdana, sans-serif;
}

form input,
form label {
  margin: 2% 0% 3% 0%;
}

input {
  font-size: 0.8em;
  border-radius: 5%;
}

/*BUTTONS START*/
.delete,
.continue {
  font-family: Tahoma, verdana, sans-serif;
  text-transform: uppercase;
  color: var(--blue);
  background: var(--offwhite);
  border-radius: 10%;
  padding: 1%;
}

.checkOut {
  font-family: Tahoma, verdana, sans-serif;
  font-size: 0.9em;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--blue);
  border-radius: 10%;
  padding: 1%;
  margin-bottom: 5%;
  margin-left: 5%;
}
/*BUTTONS END*/

/*MEDIA QUERY*/

@media (min-width: 1024px) {
  form {
    font-size: 1.8em;
  }
  form input,
  form label {
    margin: 1% 0% 1% 0%;
  }

  form input {
    font-size: 0.5em;
  }
  .delete,
  .continue,
  .checkOut {
    padding: 0.5%;
  }
}
