:root {
  --red: #ad422c;
  --blue: #0a3641;
  --orange: #cb9a21;
  --lightorange: #ebe1c2;
  --white: #ddd;
  --darkgrey: #707070;
  --darkred: #741009;
}

body {
  margin: auto;
  padding: auto;
  background: var(--lightorange);
}

/*NAVIGATION BAR START*/
.logo {
  width: 60%;
  margin-top: 2%;
}
header {
  background: var(--orange);
  position: fixed;
  width: 100%;
  z-index: 200;
}

nav li {
  display: block;
}

.active {
  color: var(--red);
}

.hamburgerLabel {
  color: var(--blue);
  display: block;
  padding: 1%;
  font-size: 2.1em;
  margin-top: 1%;
  float: right;
}

.navbar,
#hamburgerMenu,
.radiobtn {
  display: none;
}

#hamburgerMenu:checked ~ .navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: end;
  margin: -5% 2% 4% 0%;
}

.navbar a {
  font-family: Tahoma, verdana, sans-serif;
  font-size: 1.8em;
  color: var(--blue);
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}

.navbar input {
  font-family: Tahoma, verdana, sans-serif;
}

.navbar .counter {
  font-size: 0.5em;
}
/*NAVIGATION BAR END*/

/*FOOTER START*/
footer {
  background: var(--lightorange);
}

.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: var(--blue);
  font-family: Tahoma, verdana, sans-serif;
  font-size: 1.5em;
  margin-bottom: 3%;
}

/*FOOTER END*/

/*MEIDA QUERY START*/
@media (min-width: 1024px) {
  .hamburgerLabel {
    display: none;
  }
  .logo {
    width: 20%;
  }

  .navbar {
    display: block;
  }

  ul {
    display: flex;
    float: right;
    margin-top: -4%;
    margin-right: 15%;
  }

  ul a {
    padding: 2%;
  }

  .navbar input {
    margin-left: 80%;
    margin-top: -1%;
    margin-bottom: 1%;
  }

  .footer {
    padding-top: 5%;
    margin-top: -5%;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
/*MEDIA QUERY END*/
