:root {
  --red: #ad422c;
  --blue: #0a3641;
  --orange: #cb9a21;
  --lightorange: #ebe1c2;
  --white: #ffff;
  --offwhite: #fefefe;
  --darkgrey: #707070;
  --darkred: #741009;
  --ligthgrey: #dddddd;
}

main {
  padding-top: 12%;
  background: var(--lightorange);
  padding-bottom: 1%;
}

h1,
h2,
h3 {
  font-family: Tahoma, verdana, sans-serif;
  font-size: 2em;
  color: var(--darkred);
  text-transform: uppercase;
  text-align: center;
}

h4 {
  font-family: Tahoma, verdana, sans-serif;
  font-size: 1.3em;
  text-align: center;
  text-transform: uppercase;
  color: var(--blue);
}

.aboutHeading {
  justify-content: space-evenly;
  font-family: Tahoma, verdana, sans-serif;
  font-size: 1.3em;
  color: var(--blue);
}

.container {
  margin-top: -12%;
  margin-bottom: 10%;
  background: var(--ligthgrey);
  text-align: center;
}

.products {
  margin-top: 15%;
  margin-left: 5%;
  display: inline-block;
}

.products p {
  font-family: Tahoma, verdana, sans-serif;
  color: var(--darkred);
  font-size: 1.5em;
}
.companyInfo {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Tahoma, verdana, sans-serif;
  font-size: 1.1em;
  color: var(--blue);
  margin-bottom: 20%;
}

.mapImg {
  border-radius: 5%;
  width: 40%;
  margin: -15% -10% 25% 30%;
}

.aboutInfo {
  display: flex;
  flex-direction: column;
  font-family: Tahoma, verdana, sans-serif;
  padding: 1% 30% 0% 5%;
  font-size: 1.1em;
  margin-bottom: 10%;
}

/*MEDIA QUERY*/

@media (min-width: 1024px) {
  .container {
    display: flex;
    justify-content: center;
  }

  .products {
    margin-bottom: 4%;
    display: inline-block;
  }

  h4 {
    font-size: 1.5em;
  }

  .companyInfo {
    font-size: 1.2em;
  }
  .aboutInfo {
    padding: 1% 50% 0% 15%;
  }
}
