/* body {
  margin: 0;
  padding: 0;
} */

/*header*/

/* nav {
  color: #0a3641;
  display: inline-block;
  position: fixed;
  background: linear-gradient(rgba(203, 154, 33), rgba(235, 228, 194));
  width: 100%;
  margin: 0 auto;
} */

/* nav a {
  font-family: Tahoma, verdana, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  font-weight: bold;
  color: #0a3641;
} */
/* nav li,
footer li {
  display: inline-block;
  text-align: center;
  padding-left: 15%;
} */
/* 



.fa-arrow-left {
  font-size: 1.5em;
  color: #0a3641;
  padding: 5px;
}

/* .fa-search,
.fa-heart,
.fa-user,
.fa-shopping-cart {
  font-size: 2em;
  color: #0a3641;
  flex: 3;
  margin-top: 10%;
  padding: 5%;
} */

/* .fa-heart:hover,
.fa-user:hover,
.fa-shopping-cart:hover,
.fa-arrow-left:hover,
.fa-search:hover {
  color: #741009;
  font-size: 2.5em;
} */

/* .search-txt {
  color: #ad422c;
  border: none;
  background: #ebe1c2;
  width: 15%;
  padding: 2%;
} */

span {
  position: relative;
  float: right;
  margin-right: 450px;
  margin-left: 290px;
  margin-top: -85px;
  color: #0a3641;
  font-weight: bold;
  font-size: large;
}

/*main*/

h1,
h2,
h3 {
  font-family: Tahoma, verdana, sans-serif;
  background-color: #dddddd;
  text-align: center;
  text-transform: uppercase;
  color: #741009;
  font-size: 2em;
  padding-top: 2%;
  padding-bottom: 2%;
}

h2 {
  background-color: #707070;
}

h1 {
  padding-top: 15%;
}

.mainimg {
  display: flex;
  justify-content: space-between;
  display: inline-block;
}

.products {
  margin-top: 15%;
  margin-left: 5%;
  display: inline-block;
}

.line {
  border: 2px solid #707070;
  margin-bottom: -35%;
  margin-top: 20%;
}

.name-price,
.saleprice {
  font-family: Georgia, Times, serif;
  font-size: 20px;
  color: #0a3641;
}

.img {
  justify-content: space-around;
  width: 100%;
  max-width: 400px;
  margin: 40px 40px 15px 40px;
  padding: 10px;
}

.orgprice {
  text-decoration: line-through;
  font-size: 12px;
}

.loggedin {
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 2em;
  padding-top: 2%;
  padding-bottom: 16%;
}

p {
  color: #741009;
  text-transform: uppercase;
  font-weight: bold;
}

a {
  text-decoration: none;
}

.regprice {
  text-decoration: line-through;
  color: #0a3641;
}

.category,
.ball {
  font-size: 1.2em;
  width: 35px;
  height: 35px;
  background-color: #cb9a21;
  border-radius: 50%;
  margin-left: 2%;
}

.description {
  border: 2px solid #707070;
}

.continuebtn {
  background-color: #dddddd;
  border: solid #707070;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  color: #741009;
  border-radius: 25px;
  float: right;
  margin-right: 75px;
}

.login {
  font-family: Tahoma, verdana, sans-serif;
  color: #741009;
  text-align: center;
  font-size: 2em;
  font-weight: 500;
  text-transform: uppercase;
  padding-top: 15%;
}

.cartItem {
  display: flex;
  flex: 2;
  margin-bottom: 2%;
}

.info {
  font-size: 1.5em;
}

.size,
.color {
  display: none;
}

#xs + label,
#s + label,
#m + label,
#l + label,
#xl + label {
  color: #0a3641;
  font-weight: bold;
  background-color: #dddddd;
  border: solid #707070;
  border-radius: 50%;
  padding: 1%;
  margin: 1%;
}

#xs:checked + label,
#s:checked + label,
#m:checked + label,
#l:checked + label,
#xl:checked + label {
  color: #0a3641;
  background-color: #ad422c;
  text-decoration: underline;
}

#yellow + label,
#blue + label {
  color: #0a3641;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 500;
  padding: 5% 2% 2% 2%;
}

#yellow:checked + label,
#blue:checked + label {
  text-decoration: underline;
  font-weight: bolder;
}

.yellowball {
  width: 35px;
  height: 35px;
  background-color: #cb9a21;
  border-radius: 50%;
}

.blueball {
  width: 35px;
  height: 35px;
  background-color: #0a3641;
  border-radius: 50%;
}

.womensale {
  padding-top: 15%;
  display: flex;
}

.small-item {
  padding: 5%;
  flex: 2;
}

#cartImg {
  width: 25%;
  height: 55%;
}

.right-item {
  margin-top: 10%;
  margin-right: 20%;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.addbutton {
  color: #0a3641;
  font-family: Tahoma, Verdana, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0% 40% 50% -15%;
  border-radius: 20px;
  border: solid #707070;
}

.heart:hover,
.cart:hover {
  font-size: 3em;
}

.otherimg {
  display: flex;
  justify-content: space-evenly;
}

.favoritelayout {
  display: grid;
  grid-gap: 1em;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr;
}

.delete {
  border-radius: 25px;
  text-transform: uppercase;
  color: #741009;
  font-weight: bold;
  background-color: #dddddd;
  border: solid #707070;
  font-size: 1em;
  text-align: center;
}

.success {
  background-color: #dddddd;
  color: #0a3641;
  text-align: left;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 0.8em;
}

.successnumber {
  color: #741009;
  background-color: #dddddd;
  text-align: left;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1em;
  margin: 1%;
  padding: 1%;
}

.successinfo {
  color: #0a3641;
  background-color: #dddddd;
  text-align: left;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 0.8em;
  margin: 1%;
  padding: 1%;
}

#login {
  font-family: Tahoma, verdana, sans-serif;
  color: #741009;
  text-align: center;
  font-size: 2em;
  font-weight: 500;
  text-transform: uppercase;
}

.layout {
  padding-top: 9%;
  display: grid;
  grid-gap: 1em;
  grid-template-areas:
    "one two three"
    "one four five"
    "one six seven";
}

.layoutone {
  grid-area: one;
}
.layouttwo {
  grid-area: two;
}
.layoutthree {
  grid-area: three;
}
.layoutfour {
  grid-area: four;
}

.layoutfive {
  grid-area: five;
}
.layoutsix {
  grid-area: six;
}
.layoutseven {
  grid-area: seven;
}

.layoutimg {
  justify-content: space-around;
  width: 100%;
  max-width: 100px;
  padding: 10px;
}

.layouttwo {
  padding-top: 20%;
  margin: 0%;
}

.layoutthree {
  margin-top: 25%;
}

.layoutthree,
.layoutfive,
.layoutseven {
  font-size: 0.5em;
}

.txtcontainer,
.headingcontainer {
  display: flex;
}

.txt {
  margin: 5px;
}

.txth {
  flex: 1;
  margin-left: 1%;
}

.txth p {
  color: #0a3641;
  font-size: 1.5em;
}

.txtt {
  margin: 2%;
  padding: 2%;
}
/*footer*/

footer {
  background-color: #cb9a21;
}

/* li a {
  font-family: tahoma, verdana, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #0a3641;
  text-align: center;
  padding: 10%;
} */
/* 
li a:hover {
  text-decoration: underline;
} */
